# .htaccess
# ThinkSNS 2.0 测试版
#
# 为了正常启用URL Rewrite，请将apache配置文件中“LoadModule rewrite_module modules/mod_rewrite.so”
# 前的注释去掉，并将apache的DocumentRoot开启AllowOverride
# 
# 如下所示为apache下httpd.conf的代码片段：
# <Directory "YourDocumentRoot">
#   Options Indexes FollowSymLinks ExecCGI Includes
#   AllowOverride All
#   Order allow,deny
#   Allow from all
# </Directory>
#

# 开启URL Rewrite
RewriteEngine On

# 根目录名称 [注意：前后都有"/"]
# 请将下面的“/thinksns/”替换成您的根目录名称。如：
# 如果您的站点地址为：http://abc.com，那么请将“/thinksns/”替换为"/"
# 如果您的站点地址为：http://abc.com/d/e/f，那么请将“/thinksns/”替换为"/d/e/f/"
RewriteBase /thinksns/

# Rewrite规则
RewriteRule ^/?([a-zA-Z0-9]+)$ index.php?app=home&mod=space&uid=$1&%{QUERY_STRING}  [L]